// fonts
@font-face {
  font-family: 'Aeonik Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/AeonikPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/AeonikPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/AeonikPro-Black.otf') format('opentype');
}

$aeonik: 'aeonik pro', sans-serif;

$primaryfont: $aeonik;
$globalletterspacing: 0.01em;


// default colors
$green: #009f55;
$darkgreen: #01522c;
$limegreen: #63ca02;
$purple: #521ea0;
$darkblue: #010f1e;
$darkgrey: #192225;
$tilegrey: #202020;


$primarycolor: white;
$backgroundcolor: $darkgrey;


// container classes default variables
$containers: (
  full: 100%
);


// breakpoint mixin default variables
$breakpoint-mode: 'max';
$breakpoints: (
  sssl: 1920px,
  ssl:  1600px,
  sl:   1500px,
  xxxl: 1400px,
  xxl:  1200px,
  xl:   1080px,
  l:    960px,
  m:    750px,
  s:    600px,
  xs:   500px,
  xxs:  400px,
  t:    350px
);


// font variables
$fontfamilies: (
  'aeonic': $aeonik
);

$fontcolors: (
  'white': white,
  'black': black,
  'green': $green,
  'darkgreen': $darkgreen,
  'limegreen': $limegreen,
  'purple': $purple,
  'darkblue': $darkblue,
  'darkgrey': $darkgrey
);

$fontsizes: (10, 12, 14, 15, 16, 18, 20, 24, 28, 32, 34, 40, 48, 52, 54, 64, 72);
$fontweights: (300, 400, 700, 900);
$lineheights: (120, 140, 160, 180);

$letterspacing: (
  t10: -0.01,
  l00:  0.0,
  l10:  0.01,
);


// margin variables
$spaceamounts: (100, 120, 140, 160);
$sides: (top, bottom);
