.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 80px;

  @each $classname, $width in $containers {
    &--#{$classname} {
      max-width: $width;
    }
  }

}
/*----------------------------------------*/

// < 1400px
@include breakpoint(xxxl) {
  .container {
    padding: 0 56px;
  }
}
/*----------------------------------------*/

// < 1200px
@include breakpoint(xxl) {
  .container {
    padding: 0 40px;
  }
}
/*----------------------------------------*/

// < 960px
@include breakpoint(l) {
  .container {
    padding: 0 32px;
  }
}
/*----------------------------------------*/

// < 600px
@include breakpoint(s) {
  .container {
    padding: 0 24px;
  }
}
